/*Importando fonte do google fonts
font-family: "Karla", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
/*
parametros: 
- Mobile: 375px
- Desktop: 1440px
*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    background-color:rgb(136, 136, 136);/*cor apenas para distinguir bg do body e da div*/
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* nem todas as cores foram disponibilizadas no style guide*/
:root {
    /*criando variaveis de cor, e para usar basta inserir da seguinte forma: var(--text-color)*/
    --teal500-color: hsl(179, 62%, 43%);
    --green400-color: hsl(71, 73%, 54%);
    --teal100-color: hsl(204, 43%, 93%)
    --gray500-color: hsl(218, 22%, 67%);
    --gray2-color: hsl(233, 9%, 83%);
    --white-color: hsl(0, 0%, 100%);
}

.container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.part1 {
    grid-column: 1/3;
    background: var(--white-color);
    padding: 40px 50px 40px 40px;
    border-radius: 5px 5px 0 0;
}
.part2 {
    background: var(--teal500-color);
    padding: 40px;
    color: var(--white-color);
    border-radius: 0 0 0 5px;
}
.part3 {
    color: var(--white-color);
    background: hsl(179, 69%, 45%);
    padding: 40px;
    border-radius: 0 0 5px 0;
}

.text  {
    color: var(--teal100-color);
}

.gray-color {
    color: var(--gray2-color);
}

.text-size {
    font-size: 30px;
    font-weight: 700;
}

h1 {
    color: var(--teal500-color);
}

.color {
    color: var(--green400-color);
}

.button {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    background-color: var(--green400-color);
    color: var(--teal100-color);
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}